@use '../utils/maps';
@use "sass:map";

.card{
    height: 120px;
    width: 120px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: transform 300ms ease-in-out;
    

    &_inner{
        border: 6px solid transparent;
        position: relative;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
        box-sizing: content-box;
    }

    &_face{
        position: absolute;
        inset: 0;
        backface-visibility: hidden;

        >img{
            height: 120px;
            width: 120px;
        }

        &--back{    
            transform: rotateY(180deg);
        }
    }
        
    &.is-flipped .card_inner{
        transform: rotateY(180deg);
    }

    *{
        cursor: pointer;
    }

    &:hover{
        transform: scale(1.05);
    }

    &:disabled{
        transform: scale(0.9);
        cursor: default;
        * {
            cursor: default;
        }
        &:hover{
            transform: scale(0.9);
        }
    }
}

@each $theme in maps.$themes {
    body.theme_#{$theme} {
        .card_inner--match{
            border: map.get(maps.$card_match_b, $theme);
            box-shadow: map.get(maps.$card_match_shadow, $theme);
        }
    }
}