
.card{
    height: 120px;
    width: 120px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: transform 300ms ease-in-out;

    &_inner{
        position: relative;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &_face{
        position: absolute;
        inset: 0;
        backface-visibility: hidden;

        &--back{    
            transform: rotateY(180deg);
        }
    }
        
    &.is-flipped .card_inner{
        transform: rotateY(180deg);
    }

    *{
        cursor: pointer;
    }

    &:hover{
        transform: scale(1.05);
    }
}
