@use '../utils/maps';
@use "sass:map";

.exit_dialog_overlay{
    animation: 750ms linear easeInBackgroundColorOverlay;
    animation-fill-mode: forwards;
}

@each $theme in maps.$themes {
    body.theme_#{$theme} {
        .exit_dialog{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 32px 24px;
            max-width: 536px;
            gap: 40px;
            
            animation-delay: 2s;
            animation: 750ms ease-in easeInDialog;
            animation-fill-mode: forwards;

            opacity: 0;
            transform: translateY(100px);

            &__text {
                text-align: center;
                font-family: map.get(maps.$exit-dialog-text-ff, $theme);
                font-size: map.get(maps.$exit-dialog-text-fs, $theme);
                color: map.get(maps.$exit-dialog-text-fc, $theme);
            }

            &__options{
                display: flex;
                gap: 16px;
            }

            background-color: map.get(maps.$exit-dialog-bgdc, $theme);
            border-radius: map.get(maps.$exit-dialog-br, $theme);
        }
    }
}


@keyframes easeInDialog {
    100% {opacity: 1; transform: translateY(0px);}
}

@keyframes easeInBackgroundColorOverlay {
    100% {background-color: rgba(0, 0, 0, 0.5);}
}