@use '../utils/mixins' as mi;
@use '../utils/color-palette' as cp;
@use '../utils/fonts';

.primary_a{
    border: none;
    padding: 16px;
    @include mi.flex-center($g: 20px);
    
    font-family: 'RedRose-Bold';

    background-color: cp.$secondary-yellow;
    color: cp.$primary-dark;
}