@use '../utils/variables';
@use '../utils/mixins' as mi;
@use '../utils/color-palette' as cp;
@use '../utils/maps';
@use '../utils/fonts';
@use "sass:map";

.primary_btn{
    border: none;
    padding: 16px;
    @include mi.flex-center();
    
    font-family: 'RedRose-Bold';

    background-color: cp.$secondary-yellow;
    color: cp.$primary-dark;

    transition: transform 0.5s;

    &__icon{
        height: 32px;
        transition: transform 0.5s;
    }

    &:hover{
        transform: scale(1.15);
    }

    &:hover &__icon{
        transform: rotate(-35deg);
    }
}

.play_btn{
    margin-top: 80px;
    font-size: 40px;

    gap: 20px;

    &__arrow_icon{
        width: 33px;
    }
}

.start_btn{
    transition: transform 0.5s;
    font-size: 20px;
    
    gap: 8px;

    &--disabled{
        background-color: #DBDBD6;
        opacity: 0.5;
        transform: none !important;
        cursor: default !important;

        * {
            transform: none !important;
            cursor: default !important;
        }
    }
}

.exit_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    @include mi.flex-center($g: 8px);
    padding: 16px;
    margin: 16px;
}

.home_btn{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover{
        transform: scale(1.10);
    }
}

@each $theme in maps.$themes {
    body.theme_#{$theme} {
        .exit_btn--theme{
            border: map.get(maps.$exit_btn_b, $theme);
            border-radius: map.get(maps.$exit_btn_br, $theme);
            color: map.get(maps.$exit_btn_fc, $theme);
            font-family: map.get(maps.$exit_btn_ff, $theme);
            font-size: map.get(maps.$exit_btn_fs, $theme);
            background-color: map.get(maps.$exit_btn_bgc, $theme);

            >div{
                height: map.get(maps.$exit_btn_svg, $theme);
            }

            &:hover{
                border: map.get(maps.$exit_btn_hover_b, $theme);
                color: #FFFF;
                background-color: map.get(maps.$exit_btn_hover_bgc, $theme);
            }
        }
    
        .back_to_game_btn{
            padding: 16px;
            font-family: map.get(maps.$back_to_game_ff, $theme);
            font-size: map.get(maps.$back_to_game_fs, $theme);
            color: map.get(maps.$back_to_game_fc, $theme);
            background-color: map.get(maps.$back_to_game_bgc, $theme);
            border: map.get(maps.$back_to_game_b, $theme);
            border-radius: map.get(maps.$back_to_game_br, $theme);

            &:hover{
                background-color: map.get(maps.$back_to_game_hover_gc, $theme);
            }
        }

        .exit_game_btn{
            padding: 16px;
            font-family: map.get(maps.$exit_link_ff, $theme);
            font-size: map.get(maps.$exit_link_fs, $theme);
            color: map.get(maps.$exit_link_fc, $theme);
            background-color: map.get(maps.$exit_link_bgc, $theme);
            border: map.get(maps.$exit_link_b, $theme);
            border-radius: map.get(maps.$exit_link_br, $theme);

            &:hover{
                background-color: map.get(maps.$exit_link_hover_bgc, $theme);
            }
        }

        .home_btn_style{
            border: map.get(maps.$exit_btn_b, $theme);
            border-radius: map.get(maps.$exit_btn_br, $theme);
            color: map.get(maps.$home_btn_fc, $theme);
            font-family: map.get(maps.$exit_btn_ff, $theme);
            font-size: map.get(maps.$exit_btn_fs, $theme);
            background-color: map.get(maps.$home_btn_bgc, $theme);

            box-shadow: map.get(maps.$home_btn_bxs, $theme);
        }
    }
}