@use '../utils/variables';
@use '../utils/mixins' as mi;
@use '../utils/color-palette' as cp;
@use '../utils/maps';
@use '../utils/fonts';
@use "sass:map";

.primary_btn{
    border: none;
    padding: 16px;
    @include mi.flex-center();
    
    font-family: 'RedRose-Bold';

    background-color: cp.$secondary-yellow;
    color: cp.$primary-dark;

    transition: transform 0.5s;

    &__icon{
        height: 32px;
        transition: transform 0.5s;
    }

    &:hover{
        transform: scale(1.15);
    }

    &:hover &__icon{
        transform: rotate(-35deg);
    }
}

.play_btn{
    margin-top: 80px;
    font-size: 40px;

    gap: 20px;

    &__arrow_icon{
        width: 33px;
    }
}

.start_btn{
    transition: transform 0.5s;
    font-size: 20px;
    
    gap: 8px;

    &--disabled{
        background-color: #DBDBD6;
        opacity: 0.5;
        transform: none !important;
        cursor: default !important;

        * {
            transform: none !important;
            cursor: default !important;
        }
    }
}

.exit_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    @include mi.flex-center($g: 8px);
    padding: 16px;
    margin: 16px;
}

@each $theme in maps.$themes {
    body.theme_#{$theme} {
        .exit_btn--theme{
            border: map.get(maps.$exit-btn-b, $theme);
            border-radius: map.get(maps.$exit-btn-br, $theme);
            color: map.get(maps.$exit-btn-fc, $theme);
            font-family: map.get(maps.$exit-btn-ff, $theme);
            font-size: map.get(maps.$exit-btn-fs, $theme);
            background-color: map.get(maps.$exit-btn-bgdc, $theme);
            // margin: 3px;

            >div{
                height: map.get(maps.$exit-btn-svg, $theme);
            }

            &:hover{
                border: map.get(maps.$exit-btn-hover-b, $theme);
                color: #FFFF;
                background-color: map.get(maps.$exit-btn-hover-bgdc, $theme);    
                // margin: map.get(maps.$exit-btn-m, $theme); 
                // box-shadow: 0 0 0 3px #4DD5BC,
            }
        }
    }
}