@use '../utils/mixins' as mi;
@use '../utils/color-palette' as cp;
@use '../utils/fonts';


.selection{
    &__title{
        font-family: 'Almarai-Bold';
        font-size: 24px;
        color: cp.$primary-dark;

        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
    }

    &__radio_btns{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 42px;
    }
}

.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    font-size: 20px;
    color: cp.$primary-dark;
    font-family: 'Almarai-Regular';

    * {
        cursor: pointer;
    }

    &::after{
        content: url('/assets/img/line-3-small.png');
        opacity: 0;        
    }

    &:has(input:checked)::after {
        opacity: 1;
    }

    input {
      display: none;
    }
    
    &__custom {
        position: relative;
        height: 20px;
        width: 20px;
        background-color: cp.$light;
        border-radius: 50%;
        border: 3px solid cp.$primary-dark;
    }

    &:hover &__custom::after {
        content: "";
        height: 8px;
        width: 8px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    input:checked + &__custom::after {
        content: "";
        height: 8px;
        width: 8px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        background-color: black;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &:hover::after {
        opacity: 1;
    }
    
    &:hover &__text {
        font-weight: bold;
    }
    
    &:has(input:checked) {
        font-weight: bold;
    }
}
