@font-face {
  font-family: "RedRose-Bold";
  src: url('/public/assets/fonts/Red_Rose/static/RedRose-Bold.ttf');
}

@font-face {
  font-family: "Almarai-Regular";
  src: url('/assets/fonts/Almarai/Almarai-Regular.ttf');
}

@font-face {
  font-family: "Almarai-Bold";
  src: url('/assets/fonts/Almarai/Almarai-Bold.ttf');
}