@font-face {
  font-family: "RedRose-Bold";
  src: url('/assets/fonts/Red_Rose/static/RedRose-Bold.ttf');
}

@font-face {
  font-family: "RedRose-Regular";
  src: url('/assets/fonts/Red_Rose/static/RedRose-Regular.ttf');
}

@font-face {
  font-family: "Almarai-Regular";
  src: url('/assets/fonts/Almarai/Almarai-Regular.ttf');
}

@font-face {
  font-family: "Almarai-Bold";
  src: url('/assets/fonts/Almarai/Almarai-Bold.ttf');
}

@font-face {
  font-family: "Figtree-Regular";
  src: url('/assets/fonts/Figtree/static/Figtree-Regular.ttf');
}

@font-face {
  font-family: "Figtree-Bold";
  src: url('/assets/fonts/Figtree/static/Figtree-Bold.ttf');
}

@font-face {
  font-family: "KleeOne-Regular";
  src: url('/assets/fonts/Klee_One/KleeOne-Regular.ttf');
}

@font-face {
  font-family: "KleeOne-SemiBold";
  src: url('/assets/fonts/Klee_One/KleeOne-SemiBold.ttf');
}


@font-face {
  font-family: "Orbitron-Regular";
  src: url('/assets/fonts/Orbitron/static/Orbitron-Regular.ttf');
}

@font-face {
  font-family: "Orbitron-Bold";
  src: url('/assets/fonts/Orbitron/static/Orbitron-Bold.ttf');
}

@font-face {
  font-family: "DeliusUnicase-Regular";
  src: url('/assets/fonts/Delius_Unicase/DeliusUnicase-Regular.ttf');
}

@font-face {
  font-family: "DeliusUnicase-Bold";
  src: url('/assets/fonts/Delius_Unicase/DeliusUnicase-Bold.ttf');
}