@use '../utils/variables';
@use '../utils/mixins' as mi;
@use '../utils/color-palette' as cp;
@use '../utils/maps';
@use '../utils/fonts';
@use "sass:map";


.board_content{
    max-width: variables.$limit;
    @include mi.flex-center();
    
    width: 100%;
    padding: 30px;
}

.header{
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

@each $player, $color in maps.$player_color {
    .player_score_#{$player} {
        color: $color;
    }
}

.board{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 16px;
}

.board_size_16{
    grid-template-columns: auto auto auto auto;
}

.board_size_24{
    grid-template-columns: auto auto auto auto auto auto auto;
}

.board_size_36{
    grid-template-columns: auto auto auto auto auto auto auto;
}

.card{
    background-color: #f1f1f1;
    height: 120px;
    aspect-ratio: 1 / 1;
    cursor: pointer;

    *{
        cursor: pointer;
    }
}

.d_none{
    display: none !important;
}

.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    max-width: 100vw;

    height: 100vh;
    max-height: 100%;
}


@each $theme in maps.$themes {
    body.theme_#{$theme} {
        .board_page {
            @include mi.flex-center();

            width: 100vw;
            max-width: 100%;

            height: 100vh;
            position: relative;

            background-color: map.get(maps.$page-bgdc, $theme);
        }

        .header_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: end;
            width: 100%;
            max-width: variables.$limit;
            padding: 16px;

            background-color: map.get(maps.$header_wrapper_bgc, $theme);
            border-radius: map.get(maps.$header_wrapper_br, $theme);
        }

        .score {
            display: flex;
            flex-direction: row;
            gap: map.get(maps.$score_g, $theme);
            padding: 16px;
        
            .score_player{
                display: flex;
                align-items: center;
                gap: 8px;

                >img{
                    height: map.get(maps.$score_player_img_height, $theme);
                }

                > span{
                    text-transform: capitalize;
                    white-space: nowrap;
                }  
            }

            background-color: map.get(maps.$score_bgc, $theme);
            border-radius: map.get(maps.$score_br, $theme);
            font-family: map.get(maps.$fonts_bold, $theme);
            font-size: map.get(maps.$score_fs, $theme)
        }

        .current_player {
            font-size: map.get(maps.$current_player_fs, $theme);
            display: flex;
            align-items: center;
            gap: 6px;

            font-family: map.get(maps.$current_player_ff, $theme);
            color: map.get(maps.$current_player_fc, $theme);

            > div {
                display: contents;
            }
        }

        .exit_btn{
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            padding: 16px;
            cursor: pointer;

            border: map.get(maps.$exit-btn-bs, $theme) solid map.get(maps.$exit-btn-bc, $theme);
            border-radius: map.get(maps.$exit-btn-br, $theme);
            color: map.get(maps.$exit-btn-fc, $theme);
            font-family: map.get(maps.$exit-btn-ff, $theme);
            font-size: map.get(maps.$exit-btn-fs, $theme);
            background-color: map.get(maps.$exit-btn-bgdc, $theme);

            transition: transform 0.5s;

            >div {
                display: contents;
            }

            &:hover{
                transform: scale(1.10);
            }
        }

        .exit_dialog{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 32px 24px;
            max-width: 536px;
            gap: 40px;

            .text {
                text-align: center;
                font-family: map.get(maps.$exit-dialog-text-ff, $theme);
                font-size: map.get(maps.$exit-dialog-text-fs, $theme);
                color: map.get(maps.$exit-dialog-text-fc, $theme);
            }

            >div{
                display: flex;
                gap: 16px;
            }

            background-color: map.get(maps.$exit-dialog-bgdc, $theme);
            border-radius: map.get(maps.$exit-dialog-br, $theme);
        }

        .back_to_game_btn{
            padding: 16px;
            font-family: map.get(maps.$back-to-game-ff, $theme);
            font-size: map.get(maps.$back-to-game-fs, $theme);
            color: map.get(maps.$back-to-game-fc, $theme);
            background-color: map.get(maps.$back-to-game-bgdc, $theme);
            border: map.get(maps.$back-to-game-bs, $theme) solid map.get(maps.$back-to-game-bc, $theme);
            border-radius: map.get(maps.$back-to-game-br, $theme);
        }

        .exit_link{
            padding: 16px;
            font-family: map.get(maps.$exit-link-ff, $theme);
            font-size: map.get(maps.$exit-link-fs, $theme);
            color: map.get(maps.$exit-link-fc, $theme);
            background-color: map.get(maps.$exit-link-bgdc, $theme);
            border: map.get(maps.$exit-link-bs, $theme) solid map.get(maps.$exit-link-bc, $theme);
            border-radius: map.get(maps.$exit-link-br, $theme);
        }
    }
}