@use './components/selection';
@use './components/links-and-buttons';
@use './components/headline';
@use './components/score';
@use './components/card';
@use './components/exit-dialog';
@use './components/game-over';
@use './components/winner';
@use './components/header';
@use './pages/board';
@use './pages/settings';
@use './pages/home';

* {
    margin: 0;
    cursor: default;
    box-sizing: border-box;
}

button {
    cursor: pointer;

    * {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    cursor: pointer;

    * {
        cursor: pointer;
    }
}
